.chayka-auth .form_screen {
  padding: 0 1ex;
  width: 300px;
  box-sizing: border-box;
}
.chayka-auth .form_screen > h2 {
  margin-top: 0;
  margin-bottom: 1em;
}
.chayka-auth .form_screen > form {
  width: auto;
}
.chayka-auth .form_screen > form > .form_hint {
  margin-bottom: 2em;
  white-space: pre-line;
}
.chayka-auth .form_screen > form > .form_field > .message {
  width: 200px;
  text-align: left;
  margin-left: 120px;
  padding-top: .5ex;
  font-size: .8em;
}
.chayka-auth .form_screen > form > .form_field > .message a {
  white-space: nowrap;
}
.chayka-auth .form_screen > form > .form_results {
  text-align: center;
  min-height: 30px;
  margin-bottom: 1.5em;
  font-size: 14px;
}
.chayka-auth .form_screen > form > .form_buttons {
  text-align: right;
  margin-bottom: 1em;
}
.chayka-auth .form_screen > form > .form_buttons button {
  width: 165px;
  margin-top: 0;
  margin-bottom: 0;
}
.chayka-auth .nav_links {
  width: 300px;
  text-align: right;
}
.chayka-auth .nav_links .link {
  cursor: pointer;
  margin: 0 1ex;
}
#chayka-auth-embedded {
  border: 1px solid #ddd;
  width: 300px;
  display: block;
  margin: 0 auto;
  padding: 10px 0;
}
