
@form-width: 320px;

.chayka-auth{
    .form_screen{
        padding: 0 1ex;
        width: @form-width;

        > h2{
            margin-top: 0;
            margin-bottom: 1em;
        }

        > form{
            > .form_hint{
                margin-bottom: 2em;
            }

            > .form_field{
                > .message{
                    width: 200px;
                    text-align: left;
                    margin-left: 120px;
                    padding-top: .5ex;
                    font-size: .8em;

                    a{
                        white-space: nowrap;
                    }
                }
            }

            > .form_results{
                text-align: center;
                min-height: 30px;
                margin-bottom: 1.5em;
                font-size: 14px;

                > .form_spinner{

                }
                > .form_message{

                }
            }

            > .form_buttons{
                text-align: right;
                margin-bottom: 1em;

                button{
                    width: 200px;
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }

        }

    }
    .nav_links{
        width: @form-width;
        text-align: right;
        .link{
            cursor: pointer;
            margin: 0 1ex;
        }
    }
}

#chayka-auth-embedded{
    border: 1px solid #ddd;
    width: (@form-width + 20px);
    display: block;
    margin: 0 auto;
    padding: 10px;
}