@import "../../lib/lesshat/build/lesshat";


@form-width: 300px;

.chayka-auth{
    .form_screen{
        padding: 0 1ex;
        width: @form-width;
        .box-sizing(border-box);

        > h2{
            margin-top: 0;
            margin-bottom: 1em;
        }

        > form{
            width: auto;

            > .form_hint{
                margin-bottom: 2em;
                white-space: pre-line;
            }

            > .form_field{
                > .message{
                    width: 200px;
                    text-align: left;
                    margin-left: 120px;
                    padding-top: .5ex;
                    font-size: .8em;

                    a{
                        white-space: nowrap;
                    }
                }
            }

            > .form_results{
                text-align: center;
                min-height: 30px;
                margin-bottom: 1.5em;
                font-size: 14px;

                > .form_spinner{

                }
                > .form_message{

                }
            }

            > .form_buttons{
                text-align: right;
                margin-bottom: 1em;

                button{
                    width: 165px;
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }

        }

    }
    .nav_links{
        width: @form-width;
        text-align: right;
        .link{
            cursor: pointer;
            margin: 0 1ex;
        }
    }

    .form_screen.screen_login{
        .social_logins{
            margin-bottom: 20px;
            text-align: center;
            h2{
                display: block !important;
                line-height: normal;
                margin: 0 0 1em;
                font-weight: lighter;
                font-size: 16px;
            }
            .buttons{
                margin: 0 0 1em;
                padding: 0;
                li{
                    list-style: none;
                    margin-bottom: 1ex;
                    a{
                        display: inline-block;
                        background-size: 20px 20px;
                        background: no-repeat 6px 6px;
                        text-decoration: none;
                        color: white;
                        line-height: 32px;
                        padding: 0 6px 0 32px;
                        width: 100px;
                        text-align: center;
                        border-radius: 4px;
                        box-sizing: content-box;
                    }
                }
                .facebook{
                    a{
                        background: #4c66a4 url("../img/fb40x40.png") no-repeat 6px 50%;
                        background-size: 20px 20px;

                    }
                }
                .linkedin{
                    a{
                        background: #0077b5 url("../img/in40x40.png") no-repeat 6px 50%;
                        background-size: 20px 20px;

                    }
                }

            }
            .or_common{
                display: inline;
                /*position: relative;*/
                font-size: 16px;
                padding: 10px 0;
                /*top: .5em;*/
                /*clear: both;*/
            }

            .or_common::before, .or_common::after{
                width: 40%;
                height: 1px;
                display: inline-block;
                border-bottom: 1px dotted black;
                content:'';
                position: relative;
                top: .7em;
            }
            .or_common::before{
                margin-right: 10px;
                float:left;
            }
            .or_common::after{
                margin-left: 10px;
                float:right;
            }

        }

    }
}

#chayka-auth-embedded{
    border: 1px solid #ddd;
    width: (@form-width);
    display: block;
    margin: 0 auto;
    padding: 10px 0;
}